@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

html,
body {
  height: 100%;
}

body {
  background-color: #e4ebf2;
  color: #b6bbc2;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  margin: 0;
  padding: 75px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 0;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#button1,
#button2 {
  background-image: linear-gradient(
    90deg,
    rgba(35, 210, 255, 1) 0.3%,
    rgba(74, 104, 247, 1) 18.2%,
    rgba(133, 80, 255, 1) 36.4%,
    rgba(198, 59, 243, 1) 52.5%,
    rgba(250, 84, 118, 1) 68.8%,
    rgba(255, 223, 67, 1) 99.9%
  );
}

#button3,
#button4 {
  background-image: linear-gradient(
    101.5deg,
    rgba(221, 91, 190, 1) 4.7%,
    rgba(253, 96, 135, 1) 38.2%,
    rgba(249, 172, 35, 1) 69.2%,
    rgba(246, 249, 35, 1) 100.2%
  );
}

#button5,
#button6 {
  background-image: linear-gradient(
    68.7deg,
    rgba(29, 173, 235, 1) 13.2%,
    rgba(137, 149, 250, 1) 29.8%,
    rgba(229, 109, 212, 1) 48.9%,
    rgba(255, 68, 128, 1) 68.2%,
    rgba(255, 94, 0, 1) 86.4%
  );
}

button {
  border-radius: 50px;
  border: none;
  color: #fff;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px,
    rgba(0, 0, 0, 0.2) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
  flex-shrink: 0;

  span {
    display: block;
    padding: 12px 30px;
  }

  .active-text {
    position: absolute;
    div {
      transform: translatey(-60px);
    }
  }
}
