.particlehead {
  background: #abe1fd;
}

h1 {
  font-size: 35px;
  color: #202022;
  font-family: Montserrat, sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  text-transform: uppercase;
  font-weight: normal;
  margin-left: -304px;
  margin-top: -20px;
  pointer-events: none;
}

h1 strong {
  font-weight: 700;
}

h1 em {
  font-family: "Playfair Display", serif;
  text-transform: lowercase;
  font-style: italic;
}
